* {
  background-gradient: none;
  background-color: none;
  background-image: none;
  border: 0px;
  padding: 0px;
  margin: 0px;
  color: #fff;
  text-decoration: none;
}
html {
  min-width: min-content;
  min-height: min-content;
}
body {

  /*background-image: url(images/background.png);*/
  background-color: #15212f;
  background-size: cover;
  flow: vertical;
  height:*;
}

#flow-container {
  flow:grid(2 1 3,
            2 5 3,
            4 4 4);
  height:*;
  overflow-y: auto;
  overflow-x: auto;
}
.horizontal-margin {
  display:inline-block;
  width: 30px;
}
.top-margin {
  display:inline-block;
  height: 80px;
  width: *;
  flow: horizontal;
}
.bottom-margin {
  display:inline-block;
  height: 48px;
  width: *;
}
.center-child {
  width:30px;
  height:40px;
  vertical-align: middle;
}
.center-child:hover {
  background-color: #f00;
}

.centered {
  margin: auto;
}
#frame-header {
  background-color: #0d1721;
  height: 40px;
  width: *;
  flow: horizontal;
}
#header {
  display:block;
  height: 40px;
  width: *;
  flow: horizontal;
  border-bottom: 1px solid red;
}
#main-content {
  display:inline-block;
  width:*;
  height:*;
  max-width:1600px;
  flow: horizontal;
  margin: auto;
}
#server-container {
  width: 530px;
  background-color: #0d172190;
  height: *;
}
#server-info {
  width: *;
  background-color: #0d172190;
  height: 100px;
}
#chat-container {
  min-width: 400px;
  width: *;
  background-color: #0d172190;
  height: *;
  margin-left: 30px;
  flow: vertical;
}
#options-container {
  display:inline-block;
  max-width: 800px;
  margin: auto;
  width: *;
  background-color: #0d172190;
  height: *;
}
#patch-container {
  display:inline-block;
  max-width: 700px;
  margin: auto;
  width: *;
  background-color: #0d172190;
  height: *;
}

#load-container {
  display:inline-block;
  max-width: 700px;
  margin: auto;
  width: *;
  background-color: #0d172190;
  height: *;
}

#menuentry {
  vertical-align: middle;
  margin-left: 10px;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  
}

#menuentry:hover {
  height: 36px;
  background-color: #050a0f;
  border-bottom: 4px solid red;
}

#menuentry > p {
  display:block;
  vertical-align: bottom;
  height: 40px;
  overflow-y: hidden;
}

#chat-display {
  height: *;
  width:*;
}
#reply-chat {
  height: 40px;
  width:*;
  background-color: #06090E;
}
#reply-chat > input {
  margin: 5px;
  height: 30px;
  width:*;
  background-color: #212A31;
  padding-left: 5px;
  padding-right: 5px;
}
#search-bar {
  height:40px;
}
#refresh-button {
  height: 40px;
  width: 10px;
}
/*
#menuentry:selected {
  height: 36px;
  border-bottom: 4px solid red;
}
*/

[src-hover] {aspect: "Emu.srchover";}
[custom-role] {aspect: "Emu.role";}
